body {
    font-family: sans-serif;
    font-size: 24px;
    background-color: rgb(104, 54, 54);
  }
  .logo {
      margin-top: -250px;
      margin-left: -30px;
  }
  .logo .img{
      height: 300px;
  }
  
  header{
      margin-top: 0px;
  }
    nav{

        text-align: right;
        margin-right: 10px;
        margin-top: -180px;
        margin-bottom: 140px;
       

    }
    h1 {
    color: rgb(249, 249, 250);
    font-family: serif;
    text-align: center;
    font-size: 110px;
    }
    h2 {
        color: rgb(249, 249, 250);
        font-family: 'Tangerine', serif;
        text-align: center;
        font-size: 80px;
        }
    
    p
    {
    color: rgb(246, 245, 247);
    border: 2px solid rgb(249, 245, 245);
    padding: 10px;
    
    }